/* PROPIETATS GENERALS */
body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #f0f4f8; 
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

header {
    background-color: #34495e; /* Fons fosc per la capçalera */
}

h1 {
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 32px;
    color: #ecf0f1;
    padding: 15px 0;
    margin: 0;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    color: #2c3e50;
    margin: 0;
    padding-bottom: 5px;
}

/* --- BOTONS DE NAVEGACIÓ SETMANAL --- */
.boto-navegacio { 
    background-color: #bdc3c7; 
    color: #34495e;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 0.9em;
}

/* --- MOSTRA BOTONS FLOTANTS SENSE ESTAR FLOTANT --- */
.mostra-boto-flotant {  
    bottom: 40px; 
    color: white;
    padding: 0; 
    border: none;
    border-radius: 50%; 
    font-size: 28px;
    width: 60px;
    height: 60px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 100;
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* --- BOTONS FLOTANTS D'ACCIÓ (FAB) --- */

.boto-flotant {     
    position: fixed;
    bottom: 40px; 
    color: white;
    padding: 0; 
    border: none;
    border-radius: 50%; 
    font-size: 28px;
    width: 60px;
    height: 60px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 100;
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* Botó Selecció Mes/Saltar */
.fab-boto-mes { 
    right: 40px; 
    background: linear-gradient(145deg, #3498db, #2980b9); /* Blau */
}

/* Botó Creació Tasca */
.fab-boto-crear { 
    left: 40px; 
    background: linear-gradient(145deg, #2ecc71, #27ae60); /* Verd */
}

.fab-boto-crear::after {
    content: '+';
    font-size: 38px;
    line-height: 1;
    display: block;
}

.boto-flotant:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}